/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2016, 08:29:53
    Author     : Aluno
*/


nav{
    font-size: 17px; 
    text-transform: uppercase;    
}

.navbar{
    border: none;         
}

.cor{
    box-shadow: 0 0 15px #555;
   -webkit-box-shadow: 0 0 15px #555;
   -moz-box-shadow: 0 0 15px #555;
}

.navbar-header > a{
    /*color: #16A085;*/
    color: #337ab7;
    text-decoration: none; 
    font-size: 18px;
}

.navbar-header > a > img{
    height: 50px;
    width: 50px;
    float: left;
    margin-top: -14px;
    margin-right: 5px;
   
}

.navbar-brand{
    padding:25px 0;
}

#teste{
    color: #337ab7;
}

.navbar-default .navbar-nav > li > a{
    /*color: #16A085;*/
    color: #337ab7;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #FFF;
}

.navbar-default .navbar-nav > li{
   padding: 10px 0;
}

.navbar-default .navbar-nav > li:hover{
    background-color: #337ab7;
}

#sobre, #equipe{
    padding: 30px;
}

#sobre h1, #equipe h1{
    margin-bottom: 30px;
}

#mapa{    
    height: 680px;
    margin:50px auto 0 auto;
    border: 2px solid #CCC;
    border-radius: 5px;
}

.img-circle{
    width: 250px;
    height: 250px;
}


footer{
    padding: 30px;
}



